@use "./variables.scss";

.indexCard {
    color: variables.$dark-shades;
    background-color: variables.$light-shades;
    display: inline-block;
    border-radius: variables.$round-corner;
    a {
        text-decoration: none;
        color: inherit
    }
}